body.escuro {
    background-color: black !important;
    color: rgb(212, 212, 212) !important;
}


body.claro {
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: white;
    color: black;
}