<html xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Página Inicial</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link th:href="@{/css/tema.css}" rel="stylesheet" type="text/css" />
    <script th:src="@{/jquery.js}"></script>
</head>

<body>
    <div class="container">
        <div class="row">

            <div class="col-sm-12">


                <h1 class="mt-6 text-center">Bem Vindo ao Game Library!</h1>
                <div class="row">
                    <h3 class="text-center">Faça seu Login!</h3>
                </div>



            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <form th:object="${usuario}" th:action="@{/login}" method="POST">
                    <label for="inputLogin">Nome:</label>
                    <input id="inputLogin" type="text" class="form-control" placeholder="Digite seu Login"
                        th:field="*{nome}">
                    <label for="inputSenha">Senha:</label>
                    <input id="inputSenha" type="text" class="form-control" placeholder="Digite seu Login"
                        th:field="*{nome}">
                </form>
                <p th:if="${loginIncorreto}" style="color:red">Usuário ou senha incorretos</p>

            </div>
        </div>

    </div>

</body>

</html>